<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DDNS Project Homepage</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">本地配置</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item {{ 'active' if active_page == 'home' else '' }}">
                        <a class="nav-link" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">云端账户登陆</a>
                    </li>
                    <li class="nav-item {{ 'active' if active_page == 'ip_lookup_setting' else '' }}">
                        <a class="nav-link" href="/ip-lookup-setting">IP查询设置</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ip-history">IP变更历史</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        {% block content %}
        <!-- 子模板的内容将在这里插入 -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS 和依赖 -->
    <!-- JavaScript 块 -->
    {% block scripts %}
    {% endblock %}

    <!-- Bootstrap JS 和依赖 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
